{% extends 'base.html' %}

{% block title %}


{% endblock %}


{% block content %}
Автор:{{post_detail.author}}
<br>
<font size=6>{{  post_detail.title }}</font>
<br>
{{ post_detail.body }}

{% if post_detail.author == request.user  %}
<br>
<div class="btn-group">
    <a href="{% url 'post_edit' pk=post_detail.pk %}" class="btn btn-primary active" aria-current="page">Редактировать</a>
    <a href="{% url 'post_delete' pk=post_detail.pk %}" class="btn btn-primary">Удалить</a>
</div>
{% endif %}
{% endblock %}